body{
    width: 100%;
    height: auto;
    margin: 0;
    background-color:white; 
}

.header{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 102, 0);
    position: fixed;
    margin-top: -50px;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
    height: 50px;
    margin: auto;
}

header nav a{
    color: rgb(24, 21, 21);
    text-decoration: none;
    margin: auto;
}

/* first block */
#firstscreen{
    margin-top: 50px;
    width: 100%;
    height: 95vh;
    background-image: url(assets/images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textcontent1{
    display: grid;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

section#firstscreen div span{
    display: inline-block;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: 65px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
}

section#firstscreen div h5{
    color: white;
    font-size: 22px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}

.button{
    display: grid;
    align-content: center;
    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 30px;
    background-color: #ff6600;
    margin-bottom: 1000px;
}

.but{
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 16pt;
    font-weight: 600;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    text-align: center;
}

/* Second block */
#secondscreen{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 20fr;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.textcontent2{
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    align-content: center;
}

section#secondscreen div.textcontent2 span{
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 42px; 
    line-height: 1.23;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: rgb(255, 102, 0);
}