body{
    display: grid;
    background-image: url(assets/img/indexback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

#links{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 200px;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#links img{
    width: 150px;
    height: auto;
    justify-self: center;
}

#name{
    display: inline-block;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.5;
}

#links div{
    display: grid;
    width: 100%;
    height: 50px;
}

#button{
    display: grid;
    align-items: center;
    border: 3px solid #ec1e79;
    color: #ec1e79;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 0.4s;
}

#button:hover{
    background-color: #ec1e79;
    color: white;
}